<div>
  <mat-card>
    <mat-card-title>
      Raw values
    </mat-card-title>
    <p> {{ exampleData.postDate }} </p>
    <p> {{ exampleData.productPrice }} </p>
    <p> {{ exampleData.bankAccountNumber }} </p>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Piped values
    </mat-card-title>
    <p> {{ exampleData.postDate | timeHasPassed}} </p>
    <p> {{ exampleData.productPrice | numeral: "0,0[.]00 $" }} </p>
    <p> {{ exampleData.bankAccountNumber | ibanParser: " " }} </p>
  </mat-card>

</div>